.icon-description {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../assets/titlebg.jpg");
    background-size: cover;
    background-position: center;
    color: #0E0E0E;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    height: 60vh;
    align-items: center;
}

.home-heading h1 {
    font-size: 8vw;
    max-width: 60vw;
}

.home-heading h2 {
    max-width: 60vw;
    font-size: 2vw;
}

.home-title-image {
    width: 30vw;
}