* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}


.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: rgb(243, 90, 90);
  height: 50px;
  font-size: 1.2em;
  padding: 10px 20px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.logo {
  background-color: #000000;
  font-size: 1.4em;
}

.nav-list {
  background-color: #000000;
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-item {
  cursor: pointer;
  color: rgb(243, 90, 90);
  background-color: #000000;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #ff0000;
}


@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    justify-content: flex-end;
    padding-left: 90%;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #222;
    width: 250px;
    height: 100%;
    padding: 20px;
    transition: left 0.4s ease-in-out;
  }

  .nav-list.open {
    left: 0;
  }

  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}